@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#Main-Title-Page .mbr-header__text {
  color: #f6faaf;
  font-size: 46px;
  font-family: 'Montserrat', sans-serif;
}
#Main-Title-Page .mbr-header__subtext {
  color: #ffffff;
}
#Main-Title-Page .mbr-article {
  color: #ffffff;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-navbar__items a {
  font-size: 12px;
}
#Donate .mbr-header .mbr-header__text {
  text-align: center;
  color: #f6faaf;
  font-size: 30px;
}
#Donate .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#Donate .mbr-article {
  color: #f6faaf;
  font-size: 17px;
}
#content5-8j .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}
#content5-8j .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-8j .mbr-article {
  color: #ffffff;
}
#content5-8j .btn {
  font-size: 18px;
}
#content5-8k .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}
#content5-8k .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-8k .mbr-article {
  color: #ffffff;
  text-align: center;
}
#content5-8k .mbr-article DIV {
  text-align: center;
  font-size: 22px;
}
#content5-8k .mbr-article B {
  font-size: 23px;
}
#msg-box5-8f .mbr-header__text {
  color: #ffffff;
  font-size: 30px;
}
#msg-box5-8f .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-8f .mbr-article {
  color: #ffffff;
}
#msg-box1-8h .mbr-header .mbr-header__text {
  color: #fff;
  font-size: 30px;
}
#msg-box1-8h .mbr-article {
  color: #fff;
}
#msg-box4-6c .mbr-header__text {
  color: #f6faaf;
  text-align: left;
  font-size: 30px;
}
#msg-box4-6c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6c .mbr-article {
  color: #ffffff;
}
#msg-box4-69 .mbr-header__text {
  color: #f6faaf;
  text-align: left;
  font-size: 30px;
}
#msg-box4-69 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-69 .mbr-article {
  color: #ffffff;
}
#msg-box4-69 .mbr-article P {
  color: #8538c3;
}
#msg-box4-6d .mbr-header__text {
  color: #f6faaf;
  font-size: 30px;
}
#msg-box4-6d .mbr-header__subtext {
  color: #f6faaf;
}
#msg-box4-6d .mbr-article {
  color: #ffffff;
}
#msg-box4-52 .mbr-header__text {
  color: #f6faaf;
  font-size: 30px;
}
#msg-box4-52 .mbr-header__subtext {
  color: #f6faaf;
}
#msg-box4-52 .mbr-article {
  color: #f6faaf;
}
#msg-box4-52 .mbr-article P {
  color: #f7da64;
}
#msg-box4-55 .mbr-header__text {
  color: #f6faaf;
  font-size: 30px;
}
#msg-box4-55 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-55 .mbr-article {
  color: #ffffff;
}
#msg-box4-55 .mbr-article P {
  color: #f6faaf;
  font-size: 25px;
}
#msg-box3-61 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-61 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-61 .mbr-header .mbr-header__text P {
  color: #f6faaf;
  font-size: 30px;
}
#gallery1-m SMALL {
  font-size: 16px;
}
#Tempest-Photos .mbr-header__text {
  color: #f6faaf;
  font-size: 30px;
}
#Tempest-Photos .mbr-header__subtext {
  color: #ffffff;
}
#Tempest-Photos .mbr-article {
  color: #f6faaf;
  text-align: left;
  font-size: 19px;
}
#About .mbr-reviews__text {
  color: #000000;
}
#About .mbr-section__header {
  color: #f6faaf;
  font-size: 22px;
}
#About .mbr-reviews__author-name {
  color: #efefef;
  font-size: 16px;
}
#About .mbr-reviews__author-bio {
  color: #efefef;
  font-size: 16px;
}
#msg-box4-10 .mbr-header__text {
  color: #f6faaf;
  font-size: 30px;
}
#msg-box4-10 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-10 .mbr-article {
  color: #ffffff;
}
#msg-box4-10 .mbr-article P {
  font-size: 16px;
  color: #ffffff;
}
#testimonials1-42 .mbr-section__header {
  color: #f6faaf;
  font-size: 20px;
}
#testimonials1-42 .mbr-reviews__author-name {
  color: #efefef;
}
#testimonials1-42 .mbr-reviews__text {
  color: #000000;
}
#Midsummer .mbr-header .mbr-header__text {
  text-align: center;
  color: #f6faaf;
  font-size: 20px;
}
#Midsummer .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#Midsummer .mbr-article {
  color: #fff;
}
#Midsummer-Reviews SMALL {
  font-size: 16px;
}
#testimonials1-16 .mbr-reviews__text {
  color: #000000;
}
#testimonials1-16 .mbr-section__header {
  color: #f6faaf;
  font-size: 20px;
}
#testimonials1-16 .mbr-reviews__author-name {
  color: #efefef;
}
#content5-4o .mbr-header .mbr-header__text {
  text-align: center;
  color: #f6faaf;
  font-size: 30px;
}
#content5-4o .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-4o .mbr-article {
  color: #f6faaf;
  font-size: 20px;
}
#Reminiscence-Reviews SMALL {
  color: #ffffff;
}
#What-Adults-Got-Up-To .mbr-reviews__text {
  color: #000000;
}
#What-Adults-Got-Up-To .mbr-section__header {
  color: #f6faaf;
  font-size: 20px;
}
#What-Adults-Got-Up-To .mbr-reviews__author-name {
  color: #efefef;
  font-size: 16px;
}
#content5-21 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f6faaf;
  font-size: 20px;
}
#content5-21 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-21 .mbr-article {
  color: #fff;
}
#testimonials1-43 .mbr-section__header {
  color: #f6faaf;
  font-size: 20px;
}
#testimonials1-43 .mbr-reviews__author-name {
  color: #efefef;
}
#testimonials1-43 .mbr-reviews__text {
  color: #000000;
}
#contacts2-1 P {
  color: #ffffff;
}

#msg-box4-6i .mbr-header__text {
  color: #f6faaf;
  font-size: 46px;
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-6i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6i .mbr-article {
  color: #ffffff;
}
#menu-6j .mbr-brand__name {
  font-size: 16px;
}
#menu-6j.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-6j .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-6j .mbr-navbar__items a {
  font-size: 12px;
}
#content5-6l .mbr-header .mbr-header__text {
  text-align: center;
  color: #f6faaf;
  font-size: 30px;
}
#content5-6l .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-6l .mbr-article {
  color: #f6faaf;
}
#content5-6m .mbr-header .mbr-header__text {
  text-align: center;
  color: #f6faaf;
}
#content5-6m .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-6m .mbr-article {
  color: #fff;
}
#header4-6n H1 {
  color: #f6faaf;
}
#header4-6n P {
  color: #f6faaf;
  font-size: 24px;
  text-align: center;
}
#header4-6n B {
  font-size: 46px;
}
#content5-6o .mbr-header .mbr-header__text {
  text-align: center;
  color: #f6faaf;
}
#content5-6o .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-6o .mbr-article {
  color: #fff;
}
#msg-box4-6p .mbr-header__text {
  color: #f6faaf;
  font-size: 46px;
}
#msg-box4-6p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6p .mbr-article {
  color: #ffffff;
}
#msg-box4-6p .mbr-article P {
  color: #f6faaf;
  font-size: 19px;
}
#msg-box1-6q .mbr-header .mbr-header__text {
  color: #f6faaf;
  font-size: 36px;
}
#msg-box1-6q .mbr-article {
  color: #ffffff;
}
#msg-box1-6q .mbr-article P {
  color: #f6faaf;
  font-size: 20px;
  text-align: left;
}
#msg-box1-6q .mbr-article B {
  color: #f6faaf;
}
#msg-box4-6r .mbr-header__text {
  color: #f6faaf;
  text-align: left;
}
#msg-box4-6r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6r .mbr-article {
  color: #ffffff;
}
#msg-box4-6t .mbr-header__text {
  color: #f6faaf;
  text-align: left;
}
#msg-box4-6t .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6t .mbr-article {
  color: #ffffff;
}
#msg-box4-6v .mbr-header__text {
  color: #f6faaf;
  text-align: left;
}
#msg-box4-6v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6v .mbr-article {
  color: #ffffff;
}
#msg-box4-6v .mbr-article P {
  color: #8538c3;
}
#content5-6x .mbr-header .mbr-header__text {
  text-align: center;
  color: #f6faaf;
}
#content5-6x .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-6x .mbr-article {
  color: #fff;
}
#msg-box4-6y .mbr-header__text {
  color: #f6faaf;
  font-size: 25px;
}
#msg-box4-6y .mbr-header__subtext {
  color: #8538c3;
}
#msg-box4-6y .mbr-article {
  color: #ffffff;
}
#msg-box4-70 .mbr-header__text {
  color: #f7da64;
}
#msg-box4-70 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-70 .mbr-article {
  color: #ffffff;
}
#msg-box4-70 .mbr-article P {
  color: #f7da64;
}
#content5-71 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f6faaf;
}
#content5-71 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-71 .mbr-article {
  color: #fff;
}
#msg-box4-73 .mbr-header__text {
  color: #f6faaf;
}
#msg-box4-73 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-73 .mbr-article {
  color: #ffffff;
}
#msg-box4-73 .mbr-article P {
  color: #f6faaf;
  font-size: 25px;
}
#content5-75 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f6faaf;
}
#content5-75 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-75 .mbr-article {
  color: #fff;
}
#msg-box4-76 .mbr-header__text {
  color: #f6faaf;
}
#msg-box4-76 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-76 .mbr-article {
  color: #f6faaf;
}
#msg-box3-78 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-78 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-78 .mbr-header .mbr-header__text P {
  color: #f6faaf;
}
#gallery1-79 SMALL {
  font-size: 16px;
}
#content5-7a .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-7a .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-7a .mbr-article {
  color: #fff;
}
#testimonials1-7e .mbr-reviews__text {
  color: #000000;
}
#testimonials1-7e .mbr-section__header {
  color: #f6faaf;
  font-size: 30px;
}
#testimonials1-7e .mbr-reviews__author-name {
  color: #efefef;
  font-size: 16px;
}
#testimonials1-7e .mbr-reviews__author-bio {
  color: #efefef;
  font-size: 16px;
}
#msg-box4-7f .mbr-header__text {
  color: #f6faaf;
  font-size: 30px;
}
#msg-box4-7f .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-7f .mbr-article {
  color: #ffffff;
}
#msg-box4-7f .mbr-article P {
  font-size: 16px;
  color: #ffffff;
}
#testimonials1-7g .mbr-section__header {
  color: #f6faaf;
  font-size: 30px;
}
#testimonials1-7g .mbr-reviews__author-name {
  color: #efefef;
}
#testimonials1-7g .mbr-reviews__text {
  color: #000000;
}
#content5-7h .mbr-header .mbr-header__text {
  text-align: center;
  color: #f6faaf;
  font-size: 30px;
}
#content5-7h .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-7h .mbr-article {
  color: #fff;
}
#gallery1-7i SMALL {
  font-size: 16px;
}
#testimonials1-7j .mbr-reviews__text {
  color: #000000;
}
#testimonials1-7j .mbr-section__header {
  color: #f6faaf;
  font-size: 30px;
}
#testimonials1-7j .mbr-reviews__author-name {
  color: #efefef;
}
#content5-7k .mbr-header .mbr-header__text {
  text-align: center;
  color: #f6faaf;
  font-size: 30px;
}
#content5-7k .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-7k .mbr-article {
  color: #fff;
  font-size: 16px;
}
#gallery1-7l SMALL {
  color: #ffffff;
}
#testimonials1-7m .mbr-reviews__text {
  color: #000000;
}
#testimonials1-7m .mbr-section__header {
  color: #f6faaf;
  font-size: 30px;
}
#testimonials1-7m .mbr-reviews__author-name {
  color: #efefef;
  font-size: 16px;
}
#content5-7n .mbr-header .mbr-header__text {
  text-align: center;
  color: #f6faaf;
  font-size: 30px;
}
#content5-7n .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-7n .mbr-article {
  color: #fff;
}
#testimonials1-7p .mbr-section__header {
  color: #f6faaf;
  font-size: 30px;
}
#testimonials1-7p .mbr-reviews__author-name {
  color: #efefef;
}
#testimonials1-7p .mbr-reviews__text {
  color: #000000;
}
#content5-7q .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-7q .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-7q .mbr-article {
  color: #fff;
}
#social-buttons2-7r .mbr-header__text {
  color: #f6faaf;
}
#contacts2-7s P {
  color: #ffffff;
}
#content5-7t .mbr-header .mbr-header__text {
  text-align: center;
  color: #f6faaf;
  font-size: 30px;
}
#content5-7t .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-7t .mbr-article {
  color: #fff;
}
#content5-7t .mbr-article P {
  text-align: center;
}
